	<div id="articles">	

			{{#each articles}}
				<div class="col s12" data_id="{{this.id}}">
              <div class="card horizontal">
                <div class="card-image">
        					<img src="{{this.img}}">
     					 </div>
	            <div class="card-stacked">
							<div class="card-content">
							    <p class="article-title">{{{this.title}}}</p>
							    <p class="source">{{{this.source}}} -- </p>
							    <span class="teaser">{{this.teaser}}</span>
							</div>
							<div id="test" class="card-action">
	    	            <a class="link blue-text text-darken-2" href="{{this.link}}" target="_blank">Read</a>
	    	            <a data-id="{{this.id}}" class="comments blue-text text-darken-2">Comments</a>
	    	      </div>
					  	</div>
				  	</div>
				</div>
			{{/each}}
	</div>


		